*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
*/build
/app/build/
/third_party/flatbuffers/
/third_party/leveldb/
/third_party/snappy/
/output/
/third_party/googletest/
/third_party/flatbuffers/
/third_party/snappy/
/third_party/snappy/snappy-stubs-public.h
